
<div class="editModal" ng-click="$event.stopPropagation()">
  <div class="h-100">

    <div class="editControlHeader row text-center">
      <div class="col-12">
        Mass Modify
      </div>
    </div>

    <div class="row editControlRow">
      <div class="col-6 col-sm-4 col-md-3" ng-repeat="player in tb.gameData.players">
        <label class="massModifyCheckbox"><input type="checkbox" ng-model="tb.massModify.selected[player.id]" value="player.id"> {{player.name}}</label>
      </div>
    </div>

    <!-- Row 2 -->
    <div class="editControlRow row justify-content-md-center">

      <div class="btn-group row col-4 m-auto" data-toggle="buttons">
        <label class="d-flex btn btn-lg btn-primary nbrRadio col-12 col-sm-6">
          <div class="m-auto">
            <input type="radio" ng-model="tb.massModify.operator.type" value="-" /> <span class=".glyphicon glyphicon-minus"></span>
          </div>
        </label>
        <label class="d-flex btn btn-lg btn-primary nbrRadio col-12 col-sm-6">
          <div class="m-auto">
            <input type="radio" ng-model="tb.massModify.operator.type" value="+" /> <span class=".glyphicon glyphicon-plus"></span>
          </div>
        </label>
      </div>

      <input autofocus class="h-80 m-auto col-8 form-control text-center modalInput" type="number" maxlength="6" ng-model="tb.massModify.value">
    </div>

    <div class="editControlRow row">
      <button class="col-12 col-sm-5 col-md-4 btn btn-lg btn-primary editSubmitBtn" ng-click="tb.massModify.modify(); $event.stopPropagation()">Submit</button>
      <button class="col-12 col-sm-5 col-md-4 btn btn-lg btn-danger editCancelBtn" ng-click="tb.toggleToolBar(); $event.stopPropagation()">Cancel</button>
    </div>

  </div>
</div>
