
<div class="h-100">

  <div class="modalHeader row text-center">
    <div class="modalHeaderText row m-auto">
      Register
    </div>
  </div>

  <div class="modalBody row d-flex">
    <div class="m-auto">
      <div class="row">
        <p class="modalBodyText">Register under a username for this game:</p>
      </div>

      <div class="row">
        <input autofocus class="m-auto form-control text-center" type="text" ng-model="tb.registerScope.usernameEntry" >
      </div>
    </div>
  </div>

  <div class="modalFooter row">
    <button class="m-auto col-12 col-sm-5 col-md-4 btn btn-lg btn-primary" ng-click="tb.registerScope.register(); $event.stopPropagation()" maxlength="20">Submit</button>
    <button class="m-auto col-12 col-sm-5 col-md-4 btn btn-lg btn-danger" ng-click="tb.toggleToolBar(); $event.stopPropagation()">Cancel</button>
  </div>

</div>
