
<div id="toolBar">

  <div id="toolBarHeader" class="closed">

    <div class="toolbarMain d-flex">
      <div class="navSection" ng-repeat="toolBarItem in navItems">
        <div class="navSectionContent" ng-click="toolBarItem.action($event)">
          <h1>{{toolBarItem.display}}</h1>
        </div>
      </div>

      <div class="navSection">
        <div class="navSectionContent" ng-click="toggleMenuModal(4); setActive($event);">
          <h1>{{username ? username : 'Register'}}</h1>
        </div>
      </div>
    </div>
    <div class="toolbarMain d-flex">
      <div class="navSection float-right">
        <div class="navSectionContent" ng-click="toggleToolBar()">
          <h1>Close</h1>
        </div>
      </div>
    </div>


    <div id="toggleButton" ng-click="toggleToolBar()">
      <span ng-if="state.open" class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
      <span ng-if="!state.open" class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
    </div>
  </div>


  <div id="toolBarMenuScreen" class="modalScreen closed" ng-click="toggleToolBar()">
    <div class="modalContainer" ng-click="$event.stopPropagation()" ng-include="state.view"></div>
  </div>

</div>
