
<div class="menuOutter">

  <div id="toolbarHeader" class="menuElement closed">

    <div class="toolbarMain d-flex">
      <div class="navSection" ng-repeat="toolbarItem in navItems">
        <div class="navSectionContent" ng-click="toolbarItem.action($event)">
          <h1>{{toolbarItem.display}}</h1>
        </div>
      </div>

      <div class="navSection">
        <div class="navSectionContent" ng-click="toggleMenuModal(4); setActive($event);">
          <h1>{{username ? username : 'Register'}}</h1>
        </div>
      </div>
    </div>
    <div class="toolbarMain d-flex">
      <div class="navSection float-right">
        <div class="navSectionContent" ng-click="toggleToolBar()">
          <h1>Close</h1>
        </div>
      </div>
    </div>


    <div id="toolbarToggleButton" class="menuToggleButton" ng-click="toggleToolBar()">
      <span ng-if="state.open" class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
      <span ng-if="!state.open" class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
    </div>
  </div>


  <div id="toolbarMenuScreen" class="modalScreen closed" ng-click="toggleToolBar()">
    <div class="modalContainer" ng-click="$event.stopPropagation()" ng-include="state.view"></div>
  </div>

</div>
