
#toolbarMenuScreen.open {
  display: flex;
}

#toolbarMenuScreen.closed {
  display: none;
}

#toolbarHeader {
  left: 0px;
  width: 100vw;
  border-bottom: 4px solid #263238;
}

#toolbarHeader.closed {
  top: calc(-50px - 4px);  /* Transition Property, .navSection height + border-bottom */
}

#toolbarHeader.open {
  top: 0%;  /* Transition Property */
}

#toolbarToggleButton {
  right: 10px;
  bottom: -1em;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.navSection {
  display: table;
  margin-left: 25px;
  height: 50px;
}

.navSectionContent {
  cursor: pointer;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}

.navSectionContent:hover {
  color: #01a1ff;
}

.toolBar .active {
  color: #01a1ff;
}

.navSectionContent h1 {
  margin: 0px;
  font-size: 1.25em;
  font-weight: bold;
}

.toolBar .massModifyCheckbox {
  font-size: 1.25em;
}
