
<div class="modalNumber">
  <div class="h-100">

    <!--Modal Row 1 -->
    <div class="editControlHeader row text-center">
      <!-- Input Display -->
      <div class="row col-12 col-sm-5 col-md-4 d-table-cell m-auto">
        <h1 class="display-4">{{value}}</h1>
      </div>

      <!-- Glyphicon Arrow -->
      <div class="d-none
                  d-sm-table-cell
                  col-sm-2
                  col-md-4
                  text-center
                  m-auto
                  glyphicon glyphicon-arrow-right
                  "></div>

      <!-- Output Display -->
      <div class="col-12 col-sm-5 col-md-4 d-table-cell m-auto">
        <h1 class="display-4">{{numberUpdate()}}</h1>
      </div>
    </div>

    <!-- Row 2 -->
    <div class="editControlRow row justify-content-md-center">

      <div class="btn-group row col-4 m-auto" data-toggle="buttons">
        <label class="d-flex btn btn-lg btn-primary nbrRadio col-12 col-sm-6">
          <div class="m-auto">
            <input type="radio" ng-model="operator.type" value="-" /> <span class=".glyphicon glyphicon-minus"></span>
          </div>
        </label>
        <label class="d-flex btn btn-lg btn-primary nbrRadio col-12 col-sm-6">
          <div class="m-auto">
            <input type="radio" ng-model="operator.type" value="+" /> <span class=".glyphicon glyphicon-plus"></span>
          </div>
        </label>
      </div>

      <input autofocus class="h-80 m-auto col-8 form-control text-center modalInput" type="number" maxlength="6" ng-model="$parent.applyValue">
    </div>

    <!-- Row 3 -->
    <div class="editControlRow row">
      <button class="col-12 col-sm-5 col-md-4 btn btn-lg btn-primary editSubmitBtn" ng-click="cb(true); $event.stopPropagation()">Submit</button>
      <button class="col-12 col-sm-5 col-md-4 btn btn-lg btn-danger editCancelBtn" ng-click="cb(false); $event.stopPropagation()">Cancel</button>
    </div>

  </div>
</div>
