
<div class="modalContent">
    <div class="modalHeader row text-center">
      <div class="modalHeaderText row m-auto">
        Player Settings
      </div>
    </div>

    <div class="modalBody row d-flex">
      <div class="m-auto">
        <p class="modalBodyText">UNDER CONSTRUCTION</p>
      </div>
    </div>

    <div class="modalFooter row">
      <button class="m-auto col-12 col-sm-5 col-md-4 btn btn-lg btn-primary" ng-click="$event.stopPropagation()">Submit</button>
      <button class="m-auto col-12 col-sm-5 col-md-4 btn btn-lg btn-danger" ng-click="toggleToolBar(); $event.stopPropagation()">Cancel</button>
    </div>
</div>
