
<div ng-controller="newGameController">
  <h2 class="mt-4 mb-2">Game Set-up</h2>

  <form id="newPlayerForm" novalidate>
    <div class="form-row">
      <div class="half m-auto form-row col-12 col-sm-6">
        <div class="col-12 col-sm-4 text-center">
          <button class="btn btn-lg btn-primary" ng-click="startMatch()">Start Match</button>
        </div>

        <div class="col-6 col-sm-4">
          <button class="btn btn-lg btn-success m-auto" ng-click="addPlayer()">Add Player</button>
        </div>
        <div class="col-6 col-sm-4">
          <button class="btn btn-lg btn-danger m-auto" ng-click="removePlayer()">Remove Player</button>
        </div>
      </div>

      <div class="half form-row col-12 col-sm-6 text-center">
        <label for="playerCount">
          <span id="playerCount">Players: {{players.length}}</span>
          <span class="playerIcon glyphicon glyphicon-user" ng-repeat="p in players" aria-hidden="true"></span>
        </label>
      </div>
    </div>
  </form>

  <div id="newPlayerAlert" ng-if="alert" class="alert alert-danger mt-4 mb-0" role="alert">
    {{alertMessage}}
  </div>


</div>
