
.modalScreen {
  z-index: 10;
  display: flex;
  position: fixed;
  overflow: auto;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.66);
}

.modalContainer {
  position: relative;
  width: 90%;
  height: 80%;
  margin: auto;
  margin-top: 100px;
  border-radius: 5px;
  color: white;
  background-color: #4f5b62;
}

@media (min-width: 576px){
  .modalContainer {
    width: 90%;
    height: 80%;
  }
}

@media (min-width: 768px){
  .modalContainer {
    width: 85%;
    height: 80%;
  }
}

@media (min-width: 992px){
  .modalContainer {
    width: 75%;
    height: 70%;
  }
}

.modalContent {
  height: 100%;
  border: 2px solid black;
  border-radius: 5px;
}

.modalHeader {
  position: relative;
  top: -10%;
  left: -2%;
  width: 104%;
  height: 20%;
  margin: 1px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: #263238;
}

.modalHeaderText {
  font-size: 2em;
}

.modalBody {
  position: relative;
  top: -10%;
  height: 60%;
  margin: 1px;
}

.modalBodyText {
  font-size: 2em;
  text-align: center;
}

.modalFooter {
  position: absolute;
  display: flex;
  margin: 1px;
  bottom: 0px;
  height: 20%;
  width: 100%;
}

.modalFooter button {
  margin: auto;
  color: black;
  background-color: #a7c0cd;
}
