<html ng-app="overlayApp">
  <head>
    <meta charset="utf-8">
    <title>Commander Overlay</title>

    <link rel="stylesheet" href="./vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="./vendor/bootstrap/css/bootstrap-glyphicons.css">
    <link rel="stylesheet" href="./overlay/overlay.css">
    <link rel="stylesheet" href="./overlay/modal.css">
    <link rel="stylesheet" href="../directives/editable/editable.css">
    <link rel="stylesheet" href="../directives/toolBar/toolBar.css">
    <link rel="stylesheet" href="../directives/toolBar/partials/massModify/massModify.css">
    <link rel="stylesheet" href="../directives/toolBar/partials/register/register.css">
  </head>
  <body ng-controller="mainController">

    <div id="infoContainer">
      <tool-bar class="toolBar"></tool-bar>

      <div class="player d-flex" ng-style="playerStyle[$index]" ng-repeat="player in playerData">
        <div class="m-auto d-table-cell col-4 col-sm-6 col-md-4">
          <h2 class="pName"><editable type="text" obj="player" prop="name" /></h2>
          <h3 class="pCommander"><editable type="text" obj="player" prop="commander" /></h3>
        </div>

        <div class="cmdrInfo col-4 col-sm-3">
          <div class="lifeContainer">
            <div class="lifeArrow up" ng-click="applyLifeChange($index, 1)"><span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span></div>
            <div class="infoWrapper">
              <h1 class="m-auto"><editable type="number" obj="player" prop="life" /></h1>
            </div>
            <div class="lifeArrow down" ng-click="applyLifeChange($index, -1)"><span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></div>
          </div>

          <div class="castContainer">
            <div class="lifeArrow up" ng-click="applyCastChange($index, 1)"><span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span></div>
            <div class="infoWrapper">
              <h1 class="cmdrCast m-auto d-table-cell"><editable type="number" obj="player" prop="castCount" /></h1>
            </div>
            <div class="lifeArrow down" ng-click="applyCastChange($index, -1)"><span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></div>
          </div>
        </div>

        <div class="d-flex col-4 col-sm-3 col-md-5">
          <div class="row m-auto">
            <div ng-repeat="opponent in player.damage track by $index" class="justify-content-between d-inline-flex d-md-table-cell col-12 d-md-block col-md-{{12 / player.damage.length}}">
              <h5 class="mb-0 pb-0 text-center font-weight-bold">{{getNameByID(opponent.id)}}</h5>
              <div>
              </div>
              <h5 class="mb-0 ml-2 ml-md-0 pb-0 text-center"><editable type="number" obj="opponent" prop="damage" />/21</h5>
            </div>
          </div>
        </div>

      </div>   <!-- End Player ng-repeat -->
    </div>  <!-- End infoContainer -->



    <script src="./vendor/angular.min.js" charset="utf-8"></script>
    <script src="./vendor/jquery.min.js" charset="utf-8"></script>
    <script src="./vendor/bootstrap/js/bootstrap.js" charset="utf-8"></script>

    <!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/5.8.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.8.2/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.8.2/firebase-database.js"></script>
    <script src="./vendor/angularfire.min.js" charset="utf-8"></script>

    <script src="./overlay/overlay.js" charset="utf-8"></script>
    <script src="./overlay/dataFactory.js" charset="utf-8"></script>
    <script src="../directives/editable/editable.js" charset="utf-8"></script>
    <script src="../directives/toolBar/toolBar.js" charset="utf-8"></script>

    <script src="../directives/toolBar/partials/history/history.js" charset="utf-8"></script>
    <script src="../directives/toolBar/partials/massModify/massModify.js" charset="utf-8"></script>
    <script src="../directives/toolBar/partials/playerSettings/playerSettings.js" charset="utf-8"></script>
    <script src="../directives/toolBar/partials/register/register.js" charset="utf-8"></script>
    <script src="../directives/toolBar/partials/reset/reset.js" charset="utf-8"></script>
  </body>
</html>
