
@font-face {
  font-family: "Dosis";
  src: url("../assets/Dosis/Dosis-Regular") format("ttf");
}

body {
  font-family: "Dosis", sans-serif;
  height: 100vh;
  width: 100vw;
}


#infoContainer {
  width: 100%;
  height: 100%;
  -webkit-text-stroke: 1px black;
}


.player {
  color: white;
  /* overflow: hidden; */
}


.pName {
  margin-bottom: 0px;
}


.pCommander {
  margin-top: 0px;
}


.cmdrInfo {
  display: flex;
}

.infoWrapper {
  height: 100%;
  width: 100%;
  display: flex;
}

.lifeContainer, .castContainer {
  width: 50%;
  height: 100%;
  position: relative;
}

.lifeArrow {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 2em;
  transition: .25s;
  opacity: .1;   /* Transition Property */
}

.lifeArrow:hover {
  opacity: 1;   /* Transition Property */
}

.up {
  top: 0px;
}

.down {
  bottom: 0px;
}

.cmdrCast {
  width: 1.5em;
  padding: 5px;
  border: 2px solid black;
  border-radius: 25px 25px 100% 100%;
  text-align: center;
}


.verticalText{
  width: 1px;
  word-wrap: break-word;
  white-space:pre-wrap;
}
