
<div class="modalContent" ng-controller="massModifyController">
  <div class="modalHeader row text-center">
    <div class="modalHeaderText row m-auto">
      Mass Modify
    </div>
  </div>

  <div class="modalBody row d-flex">
    <div class="m-auto">

      <div class="row height-50-percent">
        <div class="d-table-cell m-auto col-6 col-sm-4 col-md-3" ng-repeat="player in playerData">
          <label class="massModifyCheckbox"><input type="checkbox" ng-model="selected[player.id]" value="player.id"> {{player.name}}</label>
          <div class="modifyPreview">
            {{player.life}}
            <span ng-if="selected[player.id]">
              <span class="glyphicon glyphicon-arrow-right"></span>  {{player.life + ((operator.type === '+' ? 1 : -1) * modifyValue)}}
            </span>
          </div>
        </div>
      </div>

      <!-- Row 2 -->
      <div class="row height-50-percent justify-content-md-center">
        <div class="btn-group row col-4 m-auto" data-toggle="buttons">
          <label class="d-flex btn btn-lg btn-primary nbrRadio col-6">
            <div class="m-auto">
              <input type="radio" ng-model="operator.type" value="-" /> <span class=".glyphicon glyphicon-minus"></span>
            </div>
          </label>
        <!-- </div> -->

        <!-- <div class="m-auto"> -->
          <label class="d-flex btn btn-lg btn-primary nbrRadio col-6">
            <div class="m-auto">
              <input type="radio" ng-model="operator.type" value="+" /> <span class=".glyphicon glyphicon-plus"></span>
            </div>
          </label>
        </div>

        <input autofocus class="m-auto col-8 form-control modalInput" type="number" maxlength="3" ng-model="modifyValue">

      </div>

    </div>
  </div>




  <div class="modalFooter row">
    <button class="m-auto col-12 col-sm-5 col-md-4 btn btn-lg btn-primary" ng-click="modify(); $event.stopPropagation()">Submit</button>
    <button class="m-auto col-12 col-sm-5 col-md-4 btn btn-lg btn-danger" ng-click="toggleToolBar(); $event.stopPropagation()">Cancel</button>
  </div>

</div>
